/* $light : #F9FAF8;
$light-accent : #AF986C;
$primary : #7C7B7A;
$dark-accent : #D0653E;
$dark : #262325; */

$light : #EEF6F0;
$light-accent : #989FA2;
$primary : #F7A816;
$dark-accent : #E75915;
$dark : #1F252F;