@import "./colors.scss";

.explorer {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "input notes"
    "input scaledia"
    "chords chords";
    grid-template-rows: 12% 30% 1fr;
    grid-template-columns: 20% 1fr;
    gap: 20px;

    .input, .chords, .scaleNotes, .scaleDiagram {
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }

    .scaleNotes {
        width: 55%;
        height: 100%;
        margin: auto;
        grid-area: notes;
        flex-direction: row;

        span {
            transition: 0.2s ease-in;
            cursor: pointer;
            text-align: center;
            width: 1em;
            height: 1em;
            padding: 1em;
            border-radius: 50%;
            color: $light;
            background-color: $primary;
            &.ommit {
                opacity: 0.5;
            }

            h3 {
                margin-top: 1.5em;
                font-size: 1em;
            }
        }
    }

    .input {
        grid-area: input;
        flex-direction: column;
        align-items: flex-end;
        color: $light;

        label {
            font-size: 0.8rem;
            color: $primary;
            line-height: 2rem;
        }

        select {
            &:focus {
                outline: none;
            }

            // Additional resets for further consistency
            background-color: $light;
            color: $dark;
            border: none;
            padding: 0.2rem 0.5rem;
            border-radius: 0.25rem;
            border: 1px solid $light-accent;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: 1rem;
            cursor: pointer;
            appearance: none;
            background-color: $light;

            option:not(:checked) { 
                background-color: $light; 
            }

            option:hover {
                background-color: $primary;
            }
        }
    }

    /* div.diagrams {
        grid-area: dia;
        display: grid;
        background-color: darken($color: $dark, $amount: 10);

        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 300px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
        
        & {
            -ms-overflow-style: none;
            scrollbar-width: none;  
        }


        svg.diagram {
            height: 300px;
            margin: auto;
            text {
                fill: $light;
            }

            line {
                stroke: $light;
            }

            circle {
                fill: $light;
            }
        }
    } */

    .scaleDiagram {
        height: 100%;
        width: 100%;
        margin: auto;
        grid-area: scaledia;

        svg {
            width: 100%;
            border-radius: 0.2em;

            text {
                fill: $dark;
                font-weight: 100;
                font-size: 0.6em;
                &.fretNumber {
                    font-size: 1rem;
                    fill:$light;
                }
            }

            line {
                stroke:rgb(71, 71, 71);
                stroke-width:2;

                &.halfnut {
                    stroke: black;
                    stroke-width: 4;
                }
                &.nut {
                    stroke: black;
                    stroke-width: 7;
                }
            }

            .background {
                fill:$light;
            }

            .boardDot {
                fill:$dark;
            }

            .circle {
                fill:transparentize($color: $light, $amount: 0.2);
                stroke: $dark;
            }

            .rootCircle {
                fill:transparentize($color: $primary, $amount: 0.2);
            }

            height: 100%;
            user-select: none;
        }
    }

    .chords {
        background-color: $light;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        grid-area: chords;
        margin: 0;

        .repeater {
            width: 100%;
            height: 33.3%;
            display: grid;
            grid-template-rows: 50px 1fr;
            margin-bottom: 1em;
            border-top: 1px solid transparentize($color: $dark, $amount: 0.9);
            

            h3 {
                width: 100%;
                text-align: center;
                letter-spacing: 0.2em;
                font-weight: 100;
                text-decoration: underline;
                text-underline-offset: 0.2em;
                text-decoration-color: $dark-accent;
                grid-row: 1;
                color: $dark;
                font-size: 1.5em;
                margin: auto 0;
            }

            .chordelements {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                span.chord {
                    @for $i from 1 through 10 {
                        &:nth-child(#{$i})::before {
                            content: '#{$i}';
                            font-size: 0.6em;
                            margin-bottom: 1em;
                        }
                    }
                    overflow: hidden;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    border:none;
                    font-size: 1.25em;
                    border-radius: 0.3em;
                    
                    color: $dark;
    
                    transition: 200ms ease-in-out;
    
                    /* &:hover {
                        background-color: darken($color: $primary, $amount: 10);
                    } */
                    
                    span.notes {
                        margin-top: 0.5em;
                        width: 40%;
                        display: flex;
                        justify-content: space-around;
                        span.note {
                            color: $dark-accent;
                            margin: auto 1em;
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }
}